body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    margin: 0;
    gap: 1rem;
    height: 100vh;
}
header {
    background-color: lightblue;
    grid-column: 2 / -1;
}

header > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 32px;
}

header > div:last-child > div:first-child {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: lightyellow;
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 64px;
    padding: 32px;
}

.sidebar > div {
    display: grid;
    grid-template-columns: 10px min(100px, 30%);
    gap: 10px;
}

.main-content {
    background-color: lightpink;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 32px;
    gap: 1rem;
}

.projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.cards > div {
    background-color: white;
    padding: 32px;
}

.announcements div:last-child {
    background-color: white;
}

.trending div:last-child {
    background-color: white;
}